
@import '~antd/dist/antd.css';

html {
  height: 100%;
}

.head {
  z-index: 1;
  width: 100%;
  color: aliceblue;
  font-weight: 500;
}

.sider {
  background: rgba(0,0,0,0);
}

.footer {
  bottom: 0;
  z-index: 1;
  height: 60px;
  width: 100%;
  text-align: center;
}

.footer > * {
  margin: 10px;
}


@media screen and  (min-width: 960px) {
  .content {
    min-height: calc(100vh - 128px);
  }

  .sider {
    flex: 0 0 300px !important;
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
  }
}

@media screen and  (max-width: 960px) {
  .content-layout {
    display: flex;
    flex-direction: column !important;
  }

  .content {
    width: 100vw !important;
  }

  .sider {
    flex: 0 0 100vw !important;
    max-width: 100vw !important;
    min-width: 100vw !important;
    width: 100vw !important;
  }

}