@import '~antd/dist/antd.css';

.main {
    text-align: center;
}

.select {
    width: 300px;
    text-align: left;
    margin-bottom: 20px;
}

#charts {
    margin: auto;
    width: 60vw;
    height: 45vh;
}